<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecobank.app.challenge.mapper.ChallMapper">
	<!-- 챌린지 전체 조회 -->
	<select id="selectChallAll" resultType="ChallVO">
		SELECT chall_no
		        , chall_title
		        , chall_content
		        , chall_startAt
		        , chall_closeAt
		        , chall_state
		        , main_img
		        , detail_img
		        , chall_score
		        , chall_createAt
		FROM chall
		ORDER BY chall_no
	</select>
	
	<insert id="insertChallInfo" parameterType="ChallVO">
		<selectKey keyProperty="challNo"
			resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(chall_no), 0) + 1
			FROM chall
		</selectKey>
		INSERT INTO chall(
							chall_no
							, chall_title
							, chall_content
							, chall_startAt
		        			, chall_closeAt
							, main_img
							, detail_img

						)
		VALUES 			(
							#{challNo}
							, #{challTitle}
							, #{challContent}
							, #{challStartAt}
							, #{challCloseAt}
							, #{mainImg}
							, #{detailImg}
						)		
	</insert>

</mapper>