<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecobank.app.challenge.mapper.ChallMapper">
	<!-- 챌린지 전체 조회 - 관리자-->
	<select id="selectChallAll" resultType="ChallVO">
		<![CDATA[
		    SELECT chall_no
		         , chall_title
		         , chall_content
		         , chall_startAt
		         , chall_closeAt
		         , chall_state
		         , main_img
		         , detail_img
		         , chall_score
		         , chall_createAt
		    FROM (
		            SELECT ROWNUM r
		                 , c.chall_no
		                 , c.chall_title
		                 , c.chall_content
		                 , c.chall_startAt
		                 , c.chall_closeAt
		                 , c.chall_state
		                 , c.main_img
		                 , c.detail_img
		                 , c.chall_score
		                 , c.chall_createAt
		            FROM chall c
		            WHERE ROWNUM <= #{pageNum} * #{amount}
		            ORDER BY c.chall_no DESC
		    )
		    WHERE r > (#{pageNum} - 1) * #{amount}
		  ]]>
	</select>
	
	<!-- 챌린지 목록 개수 -->
	<select id="getTotal" resultType="int">
		SELECT count(*)
		FROM chall
	</select>
	
	<!-- 챌린지 상태별로 전체 조회 - 회원 -->
	<select id="getChallList" resultType="ChallVO" parameterType="String">
		SELECT chall_no
		        , chall_title
		        , chall_content
		        , chall_startAt
		        , chall_closeAt
		        , chall_state
		        , main_img
		FROM chall
		WHERE chall_state = #{challState}
		ORDER BY chall_no DESC
	</select>
	
	<!-- 챌린지 개수 가져오기 -->
	<select id="countAllChallenges" resultType="int" parameterType="String">
		SELECT count(*)
		FROM chall
		WHERE chall_state = #{challState}
	</select>
	
	<!-- 단건조회 - 관리자 -->
	<select id="selectChallInfo" resultType="ChallVO" parameterType="ChallVO">
		SELECT chall_no
				, chall_title
				, chall_content
				, chall_createAt
				, chall_startAt
				, chall_closeAt
				, main_img
		        , detail_img
				, chall_state
				, chall_score
		FROM chall
		WHERE chall_no = #{challNo}
	</select>
	
<!-- 	<select id="selectChallNum" resultType="int">
		SELECT NVL(MAX(chall_no), 0) + 1
		FROM chall
	</select> -->
	
	<!-- 등록 -->
	<insert id="insertChallInfo" parameterType="ChallVO">
		<selectKey keyProperty="challNo"
			resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(chall_no), 0) + 1
			FROM chall
		</selectKey>
		INSERT INTO chall(
							chall_no
							, chall_title
							, chall_content
							, chall_startAt
		        			, chall_closeAt
							, main_img
							, detail_img
							, chall_score

						)
		VALUES 			(
							#{challNo}
							, #{challTitle}
							, #{challContent}
							, #{challStartAt}
							, #{challCloseAt}
							, #{mainImg}
							, #{detailImg}
							, #{challScore}
						)		
	</insert>
	
	<update id="updateChallInfo" parameterType="ChallVO">
		UPDATE chall
		SET chall_title = #{challTitle}
			, chall_content = #{challContent}
			, chall_startAt = #{challStartAt}
			, chall_closeAt = #{challCloseAt}
			, chall_updateAt = #{challUpdateAt}
			<if test="mainImg != null and mainImg != ''">
			, main_img = #{mainImg}
			, detail_img = #{detailImg}
			</if>
			
		WHERE chall_no = #{challNo}
	</update>
	
	<delete id="deleteChallInfo" parameterType="int">
		DELETE FROM chall
		WHERE chall_no = #{challNo}
	</delete>
	
	<select id="selectScoreAll" resultType="Map">
		SELECT DISTINCT s.score_no "scoreNo"
				, f.user_no "userNo"
				, c.chall_title "challTitle"
				, s.confirm_count "confirmCount"
				, TO_CHAR(c.chall_startAt, 'YYYY/MM/DD')|| ' - ' || TO_CHAR(c.chall_closeAt, 'YYYY/MM/DD') "term"
				, s.confirm_count * 10 "score"
		FROM score s JOIN chall c
		                ON s.chall_no = c.chall_no            
		            JOIN chall_confirm f
		                ON s.user_no = f.user_no
		ORDER BY s.score_no DESC
	</select>
	
</mapper>