<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecobank.app.users.mapper.UserMapper">
	<!-- 사용자 ID로 사용자 조회 -->
    <select id="findUserIdByPhoneNumber" parameterType="String" resultType="String">
        SELECT use_Id
        FROM users
        WHERE tell = #{phoneNumber}
    </select>
    
    <!-- 구글 로그인 시 회원정보 등록여부 확인 절차  -->
    <select id="findUserInfoByUseId" parameterType="String">
    	SELECT nickname
    	FROM users
		WHERE use_id = #{useId}
    </select>

    <!-- 비밀번호 업데이트 -->
    <update id="updatePassword" parameterType="map">
        UPDATE users
        SET password = #{encodedPassword}
        WHERE use_Id = #{useId}
    </update>
    
    <!-- 구글 회원 가입정보 기입  -->
    
</mapper>