<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminCommon/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>에코뱅크</title>
<style>
    /* 등록 버튼 색상 조정 */
    .btn-custom {
        background-color: #343a40; /* 이 색상을 사이드바와 동일하게 변경 */
        border-color: #343a40; /* 이 색상을 사이드바와 동일하게 변경 */
        color: white;
    }

    .btn-custom:hover {
        background-color: #23272b; /* hover 효과 시 색상 변경 */
        border-color: #23272b;
        color: white;
    }
</style>
</head>
<body>
	<div class="container mt-5">
		<h3 class="mb-4">챌린지 등록</h3>
		<div class="card">
			<form name="insertForm" th:action="@{/challInsert}" method="post" enctype="multipart/form-data">
				<table class="table">
					<tr>
						<th>제목</th>
						<td><input type="text" name="challTitle" style="width:510px;"></td>
					</tr>
					<tr>
						<th>챌린지 시작 일자</th>
						<td><label for="date"></label>
							<input type="date"
							        id="startDate"
							        max="2030-08-06"
							        min="2024-07-01"
							        name="challStartAt"
							        onchange="calculateScore()"></td>
					</tr>
					<tr>
						<th>챌린지 종료 일자</th>
						<td><label for="date"></label>
							<input type="date"
							        id="endDate"
							        max="2030-08-06"
							        min="2024-07-01"
							        name="challCloseAt"
							        onchange="calculateScore()"></td>
					</tr>
	                <tr>
	                    <th>챌린지 인증 완료 후 받는 총 점수</th>
	                    <td><input type="text" id="challScore" name="challScore" style="width:510px;" readonly></td>
	                </tr>
					<tr>
						<th>내용</th>
						<td><textarea name="challContent" cols="70" rows="7"></textarea></td>
					</tr>
					<tr>
						<th>메인 이미지</th>
						<td><input type="file" name="images" id="mainImg"></td>
					</tr>
					<tr>
						<th>상세 이미지</th>
						<td><input type="file" name="images" id="detailImg"></td>
					</tr>
				</table>
				<button type="submit" class="btn btn-custom">등록</button>
			</form>
		</div>
	</div>
	<script>  
	    function calculateScore() {
	        const startDate = $('#startDate').val();
	        const endDate = $('#endDate').val();
	        const scoreInput = $('#challScore');
	        //console.log(startDate, '시작날짜');
	        //console.log(endDate, '종료날짜');
	        //console.log(scoreInput, 'input태그 가져와');
	
	        if (startDate && endDate) {	        	
	            const score = dateDiff(startDate, endDate) * 10;
	            //console.log(score, '점수');
	            scoreInput.val(score);
	        }
	    }
	    
	    $('form[name=insertForm]').on('submit', challHandler);
		function challHandler(event){
			event.preventDefault(); 
			
			let challTitle = $('input[name="challTitle"]');
			if(challTitle.val() == ''){
				Swal.fire({
	                title: '제목을 입력해주세요.',
	                icon: 'info',
	                confirmButtonText: 'OK',
	                confirmButtonColor: "#32C36C"
	            });
				challTitle.focus();
				return;
			}
			
			let challStartAt = $('input[name="challStartAt"]');
			if(challStartAt.val() == ''){
				Swal.fire({
	                title: '시작 일자가 선택되지 않았습니다.',
	                icon: 'info',
	                confirmButtonText: 'OK',
	                confirmButtonColor: "#32C36C"
	            });
				challStartAt.focus();
				return;
			}
			
			let challCloseAt = $('input[name="challCloseAt"]');
			if(challCloseAt.val() == ''){
				Swal.fire({
	                title: '종료 일자가 선택되지 않았습니다.',
	                icon: 'info',
	                confirmButtonText: 'OK',
	                confirmButtonColor: "#32C36C"
	            });
				challCloseAt.focus();
				return;
			}
			
			let challContent = $('textarea[name="challContent"]');
			if(challContent.val() == ''){
				Swal.fire({
	                title: '내용을 입력해주세요.',
	                icon: 'info',
	                confirmButtonText: 'OK',
	                confirmButtonColor: "#32C36C"
	            });
				challContent.focus();
				return;
			}
			
			let mainImg = $('#mainImg');
			if(mainImg.val() == ''){
				Swal.fire({
	                title: '메인이미지를 선택해주세요.',
	                icon: 'info',
	                confirmButtonText: 'OK',
	                confirmButtonColor: "#32C36C"
	            });
				mainImg.focus();
				return;
			}
			
 			let detailImg = $('#detailImg');
			if(detailImg.val() == ''){
				Swal.fire({
	                title: '상세이미지를 선택해주세요.',
	                icon: 'info',
	                confirmButtonText: 'OK',
	                confirmButtonColor: "#32C36C"
	            });
				detailImg.focus();
				return;
			} 
			
			Swal.fire({
                title: '게시글이 등록되었습니다.',
                icon: 'success',
                confirmButtonText: 'OK',
                confirmButtonColor: "#32C36C"
            });
			insertForm.submit();
		}
	</script>
</body>
</html>