<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminCommon/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>에코뱅크</title>
<style>
    /* 등록 버튼 색상 조정 */
    .btn-custom {
        background-color: #343a40; /* 이 색상을 사이드바와 동일하게 변경 */
        border-color: #343a40; /* 이 색상을 사이드바와 동일하게 변경 */
        color: white;
    }

    .btn-custom:hover {
        background-color: #23272b; /* hover 효과 시 색상 변경 */
        border-color: #23272b;
        color: white;
    }
</style>
</head>
<body>
	<div class="container mt-5">
		<h3>챌린지 수정</h3>
		<form name="updateForm" th:object="${challup}" enctype="multipart/form-data">
			<input type="hidden" th:field="*{challNo}" id="cNo">
			<input type="hidden" th:field="*{challStartAt}">
			<input type="hidden" th:field="*{challCloseAt}">
			<table class="table">
				<tr>
					<th>제목</th>
					<td><input type="text" style="width:720px;" th:field="*{challTitle}" name="challTitle"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><textarea th:field="*{challContent}" cols="100" rows="7" name="challContent"></textarea></td>
				</tr>
				<tr>
					<th>메인 이미지</th>
					<td>
						<img th:src="@{'/images/' + ${challup.mainImg}}" alt="이미지" style="width:200px; height:200px"> 
						<input type="file" name="images" id="mainImg">
					</td>
				</tr>
				<tr>
					<th>상세 이미지</th>
					<td>
						<img th:src="@{'/images/' + ${challup.detailImg}}" alt="이미지" style="width:200px; height:200px"> 
						<input type="file" name="images" id="detailImg">
					</td>
				</tr>
			</table>
			<button type="button" class="btn btn-custom" id="updateBtn">수정</button>
			<button type="button" class="btn btn-secondary" th:onclick="|location.href ='@{/challList}'|">목록</button>
		</form>
	</div>
	<script>
		let cNo = $('#cNo').val();
		function updateAjax(event){
			//1)유효성 체크
			if(validationCheck() == false) return;
			
			//2)서버에 보낼 데이터 정리
			var formData = new FormData(document.updateForm);
			//{ empid : 209, empname : 'Hong', ... }
			
			//3)AJAX('경로', {}) /.done(=.then())/ .fail(=.catch()) => @ResponseBody
			$.ajax('challUpdate?challNo=' + cNo, { 
				type : 'post', //통신할때 method : get, post, put, delete
				//=> 커맨드 객체, @RequestParam
				//data : dataObj //기본 객체타입만 받아, 자동으로 QueryString 변환 /이거는 수정 처리 첫번째
				//=> @RequestBody
				processData : false,
				contentType : false,
				data : formData,
				success : function(result){
					location.href='challInfo?challNo=' + cNo;
				}, 
				error : function(err){
					console.log(err);
				}
			})
			.done(result => { //.done()이 알아서 다 바꿔줘
				console.log(result);
			})
			.fail(err => console.log(err));
		}
		$('#updateBtn').on('click', updateAjax);
		
 		function validationCheck(){
			let challTitle = $('[name="challTitle"]');
			if(challTitle.val() == ''){
				alert('제목을 입력해주세요.');
				challTitle.focus();
				return false; 
			}
			
			let challContent = $('[name="challContent"]');
			if(challContent.val() == ''){
				alert('내용을 입력해주세요.');
				challContent.focus();
				return false;
			}
			
			let mainImg = $('[name="mainImg"]');
			if(mainImg.val() == ''){
				alert('메인이미지를 선택해주세요.');
				mainImg.focus();
				return false;
			}
			
			let detailImg = $('[name="detailImg"]');
			if(detailImg.val() == ''){
				alert('상세이미지를 선택해주세요.');
				detailImg.focus();
				return false;
			}
			
			return true; //정상적으로 진행된 경우는 if를 돌지않고 바로 return true겠지
		} 
		
/* 		$('#updateBtn').on('click', challUpdateAjax);
		
		function challUpdateAjax(event){
			//1) 보낼 데이터 확인
			let info = getChallInfo();
			console.log('인포', info);
			//2) AJAX
			$.ajax('challUpdate',{
				type:'post',
				contentType : 'application/json',
				data : JSON.stringify(info)
			})
			.done(data => {
				if(data.result){
					alert('정상적으로 수정되었습니다.');
				}else{
					alert('수정되지 않았습니다.\n데이터를 확인해주세요.');
				}
			})
			.fail(err => console.log(err));			
		};
	
		function getChallInfo(){
			let formData= $('form[name="updateForm"]').serializeArray();
			//console.log('1) serializeArray', formData);
			
			let objData = {};
			$.each(formData, (idx, input) => {
				//console.log('2) input', idx, input); //name:값이 아니라 key여야해서,value:
				objData[input.name] = input.value;
			});
			
			//console.log('3) objData', objData); //우리가 요구하는 이름으로서 나타날수있도록 변환한 작업
			return objData;
		}; */
	</script>
</body>
</html>