<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h3>챌린지 수정</h3>
		<form name="updateForm" th:object="${challup}">
			<table class="table">
				<tr>
					<th>제목</th>
					<td><input type="text" th:field="*{challTitle}"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><textarea th:field="*{challContent}" cols="30" rows="5"></textarea></td>
				</tr>
				<tr>
					<th>메인 이미지</th>
					<td><input type="file" th:field="*{mainImg}"></td>
				</tr>
				<tr>
					<th>상세 이미지</th>
					<td><input type="file" th:field="*{detailImg}"></td>
				</tr>
			</table>
			<button type="button" class="btn btn-warning" id="updateBtn">수정</button>
			<button type="button" class="btn btn-secondary" th:onclick="|location.href ='@{/challList}'|">목록</button>
		</form>
	</div>
</body>
</html>