<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminCommon/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>QNA List</title>
    <script>
        // 선택된 QNA의 세부 정보 페이지로 이동
        function goToQnaDetail(qnaNo) {
            window.location.href = '/admin/' + qnaNo;
        }
    </script>
</head>
<body>
    <div class="card">
    
        <div class="card-body">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th class="text-center">번호</th>
                        <th class="text-center">제목</th>
                        <th class="text-center">상세 보기</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 각 QNA 항목에 대해 행을 생성 -->
                    <tr th:each="qna : ${qnaUser}">
                        <td class="text-center" th:text="${qna.qnaNo}"></td>
                        <td class="text-center" th:text="${qna.qnaTitle}"></td>
                        <!-- 상세 보기 버튼 추가 -->
                        <td class="text-center">
                            <button class="btn btn-info" 
                                    th:onclick="'goToQnaDetail(' + ${qna.qnaNo} + ')'">
                                상세 보기
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
