<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminCommon/layouts/default_layout}"
      layout:fragment="Content">
    
<body>

<div class="container mt-4">
    <h2>댓글 목록 (피드번호: <span th:text="${feedNo}"></span>)</h2>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class="text-center">댓글번호</th>
                <th class="text-center">댓글 내용</th>
                <th class="text-center">회원번호</th>
                <th class="text-center">작성일자</th>
                <th class="text-center">피드번호</th>
                <th class="text-center">SNS 상황</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="reply : ${replies}">
                <td class="text-center" th:text="${reply.replyNo}">댓글번호</td>
                <td class="text-center" th:text="${reply.replyContent}">댓글 내용</td>
                <td class="text-center" th:text="${reply.userNo}">회원번호</td>
                <td class="text-center" th:text="${reply.replyCreateat}">작성일자</td>
                <td class="text-center" th:text="${reply.feedNo}">피드번호</td>
                <td class="text-center" th:text="${reply.snsSituation}">SNS 상황</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
