<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminCommon/layouts/default_layout}"
      layout:fragment="Content">

<body>
    <div class="card-header">
    <i class="fas fa-table me-1"></i>
    DataTable Example
	</div>
        <!-- SNS 상태 업데이트 버튼 -->
        <div class="mb-3">
            <a href="/updateSnsState" class="btn btn-primary">SNS 상태 업데이트</a>
        </div>

        <!-- SNS 목록 표시 -->
      <div class="card-body">  
    	<table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th class="text-center">Feed No</th>
                    <th class="text-center">Feed State</th>                   
                </tr>
            </thead>
            <tbody>
                <!-- snsList 반복 출력 -->
                <tr th:each="sns : ${adminSns}">
                    <td class="text-center" th:text="${sns.feedNo}"></td>
                    <td class="text-center" th:text="${sns.feedState}"></td>
                </tr>
            </tbody>
        </table>     
    </div>
</body>
</html>
