<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="headerFragment">

    
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0 text-primary" th:text="#{ecobank}"></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                <sec:authorize access="isAuthenticated()">
                    <span class="nav-item nav-link" th:text="#{welcome(${session.nickname})}"></span>
                </sec:authorize>
        </th:block>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/}" class="nav-item nav-link" th:text="#{home}"></a>
                <!-- Language selection dropdown -->
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span th:text="#{lang}"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" th:href="@{/?lang=en}" th:text="#{en}"></a>
                <a class="dropdown-item" th:href="@{/?lang=ko}" th:text="#{kr}"></a>
                <a class="dropdown-item" th:href="@{/?lang=ja}" th:text="#{jp}"></a>
            </div>
        </div>    
               <th:block th:if="${#authentication.principal != 'anonymousUser'}">
               <form method="post" th:action="@{/logout}">
                 <button type="submit" class="btn btn-link nav-item nav-link" th:text="#{logout}"></button>
               </form>
              
               </th:block>
               <th:block th:unless="${#authentication.principal != 'anonymousUser'}">
                    <!-- 로그인되지 않은 상태 -->
                    <a th:href="@{/login}" class="nav-item nav-link" th:text="#{login}"></a>
                    
                </th:block>
                <a href="/QnaUserList" class="nav-item nav-link" th:text="#{QnA}">QnA</a>
                <a th:href="@{/about}" class="nav-item nav-link" th:text="#{about}"></a>
                <a th:href="@{/ready}" class="nav-item nav-link" th:text="#{challenge}"></a>
                <a th:href="@{/sns}" class="nav-item nav-link" th:text="#{SNS}"></a>

                <a class="btn btn-square btn-link rounded-0 border-0 " th:href="@{/chatRoom}"><i class="fas fa-comment-dots"></i></a>
                <a class="btn btn-square btn-link rounded-0 border-0 " th:href="@{/ongoingChall}"><i class="fas fa-user"></i></a>
<!--                 <a class="btn btn-square btn-link rounded-0 border-0 " href=""><i class="fas fa-bell"></i></a> -->
                <a class="btn btn-square btn-link rounded-0 border-0 " th:href="@{/}">
				    <i class="fas fa-bell position-relative">
				         <span class="notification-dot position-absolute top-0 start-100 translate-middle rounded-circle" style="display: none;"></span>
				    </i>
				</a>
            </div>
        </div>

</th:block>