<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          th:fragment="mySideFragment">
    <div class="my-side">
        <p class="my-side-ul">챌린지</p>
        <ul>
            <!-- 진행중인 챌린지 -->
            <li>
                <a class="sideBtn btn btn-link" 
                   th:href="@{/ongoingChall}" 
                   th:classappend="${#httpServletRequest.requestURI.contains('/ongoingChall')} ? 'active' : ''">
                    참여중인 챌린지
                </a>
            </li>
            <!-- 완료한 챌린지 -->
            <li>
                <a class="sideBtn btn btn-link" 
                   th:href="@{/exitChall}" 
                   th:classappend="${#httpServletRequest.requestURI.contains('/exitChall')} ? 'active' : ''">
                    완료한 챌린지
                </a>
            </li>
        </ul>

        <p class="my-side-ul">내 정보 관리</p>
        <ul>
            <!-- 회원정보수정 -->
            <li>
                <a class="sideBtn btn btn-link" 
                   th:href="@{/userEdit}" 
                   th:classappend="${#httpServletRequest.requestURI.contains('/userEdit')} ? 'active' : ''">
                    회원정보수정
                </a>
            </li>
            <!-- 회원탈퇴 -->
            <li>
                <a class="sideBtn btn btn-link" 
                   th:href="@{/userDel}" 
                   th:classappend="${#httpServletRequest.requestURI.contains('/userDel')} ? 'active' : ''">
                    회원탈퇴
                </a>
            </li>
        </ul>
    </div>

    <style>
        .my-side-ul {
            font-size: 30px;
            font-weight: bold;
        }
        .my-side {
            width: 250px;
            border-right: 2px solid #ddd;
            padding-right: 20px;
            box-sizing: border-box;
        }
    
        .active {
            font-weight: bold;
            color: #007bff;
            
        }
    </style>
</th:block>