
<!DOCTYPE html>


<th:block xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="snsSideFragment">

    		<div class="side">
			
 	
				<a class="sideBtn btn btn-link" th:href="@{/snsP}">인기글</a>
				<a class="sideBtn btn btn-link" th:href="@{/sns}">전체글</a>
				<a class="sideBtn btn btn-link" th:href="@{/mysns}">My Feed</a>
			    <a class="sideBtn btn btn-link" th:href="@{/snsSearch}">Search</a> 
			    <a class="sideBtn btn btn-link" th:href="@{/snsInsert}">Insert</a>
			    <a class="sideBtn btn btn-link" href="https://instagram.com">계정 연결</a>
		
		</div>
</th:block>


 	

