
<!DOCTYPE html>


<th:block xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="snsSideFragment">

    		<div class="side">
			
 	
				<a class="sideBtn btn btn-link" th:href="@{/snsP}"><span>인기글</span></a>
				<a class="sideBtn btn btn-link" th:href="@{/sns}"><span>전체글</span></a>
				<a class="sideBtn btn btn-link" th:href="@{/mySns}"><span>My Feed</span></a>
			    <a class="sideBtn btn btn-link" th:href="@{/snsSearch}"><span>Search</span></a> 
			    <a class="sideBtn btn btn-link" th:href="@{/snsInsert}"><span>Insert</span></a>
			    <a class="sideBtn btn btn-link" href="https://instagram.com"><span>계정 연결</span></a>
		
		</div>
</th:block>


 	

