<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecobank.app.upload.mapper.FileMapper">
	<!-- 조회 -->
	<select id="selectSnsFileInfo" resultType="FileVO">
		SELECT s.feed_no  
               ,f.file_no
               ,f.file_path
		FROM sns s RIGHT OUTER JOIN files f
                                    ON s.feed_no = f.file_code_no
        WHERE  file_code='J1' AND f.file_code_no = #{feedNo}
		GROUP BY s.feed_no  
                 ,f.file_no
                 ,f.file_path
        ORDER BY file_no desc
	</select>
	
	<!-- 등록 -->
	<insert id="insertFileInfo" parameterType="FileVO">
		<selectKey keyProperty="fileNo" 
					resultType="Integer"
					order="BEFORE">
			SELECT NVL(MAX(file_no),1)+1
			FROM files
		</selectKey>
		INSERT INTO files
		(
			 file_no	
			 ,file_name
			 ,file_path
			 ,file_code
			 ,file_code_no )
		VALUES
		(
			#{fileNo}
			,#{fileName}
			,#{filePath}
			,#{fileCode}
			,#{fileCodeNo}
			)
	</insert>
	
	<!-- 수정 시 단건 삭제 -->
	<delete id="deleteFileInfo" parameterType="Map">
		DELETE FROM files
		WHERE file_code_no = #{feedNo} and file_code='J1' and file_no = #{fileNo} 
	</delete>
	
	<!-- 전체삭제 -->
	<delete id="deleteFileAll" parameterType="int">
		DELETE FROM files
		WHERE file_code_no = #{feedNo} and file_code='J1'
	</delete>
	
	<!-- 나의 인증내역에 해당 인증게시글에 사진 하나만 불러오게 -->
	<select id="selectConfirmFileInfo" resultType="FileVO">
		SELECT *
		FROM (
		    SELECT f.*, c.confirm_no, c.user_no, c.chall_no
		           , ROW_NUMBER() OVER (PARTITION BY f.file_code_no ORDER BY f.file_no ASC) AS rn
		    FROM files f 
		                JOIN chall_confirm c 
		                    ON f.file_code_no = c.confirm_no
		    WHERE c.chall_no = #{challNo}
		    AND c.user_no = #{userNo}
		    AND f.file_code = 'J3'
		)
		WHERE rn = 1
		ORDER BY file_no desc
	</select>
	
	<!-- 다른 참가자 인증 내역 조회 -->
	<select id="selectOtherConfirm" resultType="FileVO">
		SELECT c.chall_no
					, c.confirm_no,
					( SELECT f.file_name
			            FROM files f
			            WHERE f.file_code_no = c.confirm_no
			            AND file_code = 'J3'
			            <![CDATA[
			            and rownum < 2 ) as file_name
			            ]]>  
		FROM chall_confirm c
		WHERE c.chall_no = #{challNo}
        ORDER BY c.confirm_no DESC
	</select>
	
	<!-- 인증 내역 상세 파일 조회 -->
	<select id="getMyConfirmFile" resultType="FileVO">
		SELECT c.confirm_no
		       	,f.file_no
		       	,f.file_path
		FROM chall_confirm c RIGHT OUTER JOIN files f
                        		ON c.confirm_no = f.file_code_no
		WHERE  f.file_code_no = #{confirmNo}
		AND f.file_code = 'J3'
		GROUP BY c.confirm_no
		         	,f.file_no
		         	,f.file_path
	</select>
	
	<!-- 인증 파일 삭제 -->
	<delete id="deleteConfirmFileInfo" parameterType="int">
		DELETE FROM files
		WHERE file_code_no = #{confirmNo}
		AND file_code = 'J3'
	</delete>
		
</mapper>