<!-- templates/adminCommon/fragments/sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="sidebarFragment">
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="admin" class=""><i class="lnr lnr-home"></i> <span>관리자 페이지</span></a></li>
                        <li><a href="adminUser" class=""><i class="lnr lnr-code"></i> <span>회원 관리</span></a></li>
                        <li><a th:href="@{/challList}" class=""><i class="lnr lnr-chart-bars"></i> <span>챌린지 관리</span></a></li>
                        <li><a th:href="@{/scoreList}" class=""><i class="lnr lnr-linearicons"></i> <span>점수 관리</span></a></li>
                      
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>신고자 관리</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse">
                                <ul class="nav">
                                    <li><a href="ChallDeclareList" class="">챌린지 신고 관리</a></li>
                                    <li><a href="SnsDeclareList" class="">SNS 신고 관리</a></li>
                                    <li><a href="SnsReplyDeclareList" class="">SNS 댓글 신고 관리</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="adminSns" class=""><i class="lnr lnr-cog"></i> <span>SNS 관리</span></a></li>
                        <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>1:1 문의 관리</span></a></li>
                         <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>공지사항 관리</span></a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </th:block>
</body>
</html>
