<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/sns_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.imghover {
	transition: background-img 0.5s;
}

.imghover:hover {
	filter: brightness(120%)
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.like{
      width: 20px;
      fill: #ddd;
}

.like.active{
      fill: red;
}

#speech{
      width: 20px;
      fill: #ddd;
}
</style>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js">
	
</script>
</head>
<body>
	<form action="uploadForm" method="post" enctype="multipart/form-data">
	<div>
		<div class="container">
			<div class="row">
				<th:block th:each="sns, sts : ${mySns}"
					th:onclick="|location.href='@{/snsInfo(feedNo=${sns.feedNo})}'|">
					<div class="post-entry col-lg-4 col-sm-12 col-md-6 mb-4 mb-md-0">
						<div class="author mb-4 d-flex align-items-center">
							<a href="#" class="img"
								style="background-image: url(images/person_2.jpg);"></a>
							<div class="ml-3 info">
								<a href="#" th:text=${sns.nickname}></a>
							</div>
							<button class="btn btn-primary">팔로우</button>
						</div>
						<div class="imghover">
							<div th:text=${sns.feedNo} class="blind"></div>
							<a href="#" class="post-thumbnail transition">
							 <img th:src=@{/images/{filePath}(filePath=${sns.filePath})}
								alt="Image" class="img-fluid"></a>
							</div>
							<div class="post-content-entry">
								<div class="meta">
									<svg class="like" th:id="'like_'+${sns.feedNo}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
									<path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
									<span><a href="#" th:text=${sns.countLike}></a></span>
									<svg id="speech" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c0 0 0 0 0 0s0 0 0 0s0 0 0 0c0 0 0 0 0 0l.3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/></svg>
									 <span><a href="#" th:text=${sns.countReply}></a>
									</span>
								</div>
							</div>
					
					</div>
				</th:block>
			</div>
		</div>
	</div>
	</form>
	<script>
		$(".imghover").on('click', function(event) {
			/* if(event.target.tagName == 'BUTTON') return; */
			let fno = $(event.currentTarget).children().first().text();
			console.log(fno);
			let url = '/snsInfo?feedNo=' + fno;
			console.log('url : ' + url);
			location.href = url;
		});
		
	    //좋아요버튼

	    $('.like').on('click', function(event){
	    	console.log($(this));
	    	console.log(event);
	    	$(this).toggleClass('active');
	    	//아작스(if해서 active인지 아닌지 구분해서 아작스 두개 넣기)
	    })
/* 		  var btn = document.getElementById("like")
class="like active"
.like .active
		  btn.addEventListener('click',function(){
		            btn.classList.toggle('active')
		            addclass removeclass
		    })하트 다시 눌럿을때 사라져야하고, 내가 눌렀던 하트면 남아잇기
		    if문으로 feedno like 비교.......데이터에서 좋아요가 null 일때 0으로 바꾸고 nvl 1이면 calss like-active 0이면 like
 */	</script>
</body>
</html>
