<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/sns_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
   /*모달*/
.modal {
	display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}
   
.modal_body {
	background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: #333; 
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.imghover {
	transition: background-img 0.5s;
}

.imghover:hover {
	filter: brightness(120%)
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.like{
    width: 20px;
    fill: #ddd;
}

.likeActive{
 	width: 20px;
    fill: red;
}

#speech{
      width: 20px;
      fill: #ddd;
}
li{
	display:inline;
	list-style: none;
}
</style>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
</head>
<body>
<!-- Feature Start -->
	<div class="container-xxl py-5">
    	<div class="container" style="width:1000px;">
        	<div class="row g-5">
            	<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-4">
                        <h3 class="mb-0" data-toggle="counter-up" th:text=${countMySns.nickname}></h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center mb-4">
                        <h3 class="mb-0" data-toggle="counter-up">게시물</h3>
                    </div>
                    <h5 class="mb-3" th:text=${countMySns.countFeed}></h5>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <h3 class="mb-0" data-toggle="counter-up">팔로워</h3>
                    </div>
                    <a href="#" class="listModal"  onclick="listModal()">
                    	<h5 class="mb-3" th:text=${countMySns.countFollowing}></h5></a> 
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-center mb-4">
                        <h3 class="mb-0" data-toggle="counter-up">팔로잉</h3>
                    </div>
                     <a href="#" class="listModal"  onclick="listModal()">
                     	<h5 class="mb-3" th:text=${countMySns.countFollower}></h5></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->
     <div class="container" style="width:1200px;">	
		<div class="row">
			<th:block th:each="sns, sts : ${mySns}" th:onclick="|location.href='@{/snsInfo(feedNo=${sns.feedNo})}'|">
				<div class="post-entry col-lg-4 col-sm-12 col-md-6 mb-4 mb-md-0">
					<div class="imghover">
						<div th:text=${sns.feedNo} class="blind"></div>
						<a href="#" class="post-thumbnail transition">
							<img th:src=@{/images/{filePath}(filePath=${sns.filePath})} alt="Image" class="img-fluid" style="width:350px; height:380px; padding:0px;"></a>
					</div>
					<div class="post-content-entry">
						<div class="meta" style="margin-bottom:30px;">
							<svg class="like" th:data-feedno="${sns.feedNo}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" th:if="${sns.snslikeYn == null}"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                       		<svg class="likeActive" th:data-snslikeno="${sns.snslikeYn}" style="fill: red;	width: 20px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"  th:unless="${sns.snslikeYn == null}"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
							<span><a href="#" th:text=${sns.countLike}></a></span>
							<svg id="speech" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c0 0 0 0 0 0s0 0 0 0s0 0 0 0c0 0 0 0 0 0l.3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/></svg>
			      			<span><a href="#" th:text=${sns.countReply}></a></span>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
	<!-- 모달영역 -->
 	<div class="modal">
        <div class="modal_body">
            <div class="inputleft">
            <ul>
            	<li><a href="#">팔로잉</a></li>
            	<li><a href="#">팔로워</a></li>
            	<li><a href="#">차단</a></li>
            </ul>
        	<hr style="width:100%;height:5px;border:none;"/>
        		<th:block th:each="follower, sts : ${follower}">
        		
        		<div th:text=${follower.userNo} hidden></div>
        		<div th:text=${follower.nickname} ></div>
        		</th:block>
        	 <button type="button"  class="btn btn-primary" id="btn-close" aria-label="Close">닫기</button>
            </div>
        </div>
    </div>
	<script>

		$(".imghover").on('click', function(event) {
			let fno = $(event.currentTarget).children().first().text();
			console.log(fno);
			let url = '/snsInfo?feedNo=' + fno;
			console.log('url : ' + url);
			location.href = url;
		});
		
		  //좋아요버튼
	  	$('.like').on('click',function(){
	  		let feedNo =$(this).data('feedno');
	  		console.log('하트하으',feedNo);
			$.ajax({
				type : "POST",
				url : "likeInsert",
				data : {feedNo},
				dataType : "json",
				success : function(result){
					alert("좋아요");
					location.reload();
				},
				error :  function(error){
					console.log('에러',error);
					alert("좋아요 실패");
				}
			});
	    })
			    
		//좋아요취소
		$('.likeActive').click(function(){
			let snsLikeNo =$(this).data('snslikeno');
			console.log("팔로우버튼");
			console.log('누구야',snsLikeNo)
			// ajax로 좋아요 취소하기
			$.ajax({
				type : "delete",
				url : "likeDelete",
				data : {snsLikeNo},
				success : function(){
					alert("좋아요취소 성공");
					location.reload();
				},
				error :  function(error){
					console.log(error);
					alert("실패");
				}
			});
		});
		const modal = document.querySelector('.modal');

		$('#btn-close').on('click', function(){
			 modal.style.display="none";
		});
		

	  	function listModal(){
			event.preventDefault();
			
			modal.style.display="block";
		
			
			
		}
	

		
		
	</script>
</body>
</html>
