<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/sns_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
   /*모달*/
.modal {
	display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}
   
.modal_body {
	background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: #333; 
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.imghover {
	transition: background-img 0.5s;
}

.imghover:hover {
	filter: brightness(120%)
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.like{
      width: 25px;
      fill: #ddd;
}
.bi-heart-fill{
	color: hotpink;
}

#speech{
      width: 20px;
      fill: #ddd;
}
li{
	display:inline;
	list-style: none;
}
</style>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
</head>
<body>
<!-- Feature Start -->
	<div class="container-xxl py-5">
    	<div class="container" style="width:1000px;">
        	<div class="row g-5">
            	<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-4">
                        <h3 class="mb-0" data-toggle="counter-up" th:text=${countMySns.nickname}></h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center mb-4">
                        <h3 class="mb-0" data-toggle="counter-up">게시물</h3>
                    </div>
                    <h5 class="mb-3" th:text=${countMySns.countFeed}></h5>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <h3 class="mb-0" data-toggle="counter-up">팔로워</h3>
                    </div>
                    <a href="#" class="listModal"  onclick="listModal()">
                    	<h5 class="mb-3" th:text=${countMySns.countFollowing}></h5></a> 
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-center mb-4">
                        <h3 class="mb-0" data-toggle="counter-up">팔로잉</h3>
                    </div>
                     <a href="#" class="listModal"  onclick="listModal()">
                     	<h5 class="mb-3" th:text=${countMySns.countFollower}></h5></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->
     <div class="container" style="width:1200px;">	
		<div class="row">
			<th:block th:each="sns, sts : ${mySns}" th:onclick="|location.href='@{/snsInfo(feedNo=${sns.feedNo})}'|">
				<div class="post-entry col-lg-4 col-sm-12 col-md-6 mb-4 mb-md-0">
					<div class="imghover">
						<div th:text=${sns.feedNo} class="blind"></div>
						<a href="#" class="post-thumbnail transition">
							<img th:src=@{/images/{filePath}(filePath=${sns.filePath})} alt="Image" class="img-fluid" style="width:350px; height:380px; padding:0px;"></a>
					</div>
					<div class="post-content-entry">
						<div class="meta" style="margin-bottom:30px;">
							<button id="likeButton" class="btn btn-outline-primary">
								<i id="likeIcon" class="bi bi-heart" th:data-feedno="${sns.feedNo}" th:if="${sns.snslikeYn == null}"></i>
								<i id="likeIcon" class="bi-heart-fill bi-heart-fill" th:data-snslikeno="${sns.snslikeYn}" th:unless="${sns.snslikeYn == null}"></i>
							</button>
							<span class="likes-count" th:text=${sns.countLike}></span>
							<button class="btn btn-outline-secondary ms-3">
								<i class="bi bi-chat-dots"></i>
							</button>
							<span class="comments-count" th:text=${sns.countReply}>></span>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
	<!-- 모달영역 -->
 	<div class="modal">
        <div class="modal_body">
            <div class="inputleft">
            <ul>
            	<li><a href="#">팔로잉</a></li>
            	<li><a href="#">팔로워</a></li>
            	<li><a href="#">차단</a></li>
            </ul>
        	<hr style="width:100%;height:5px;border:none;"/>
        		<th:block th:each="follower, sts : ${follower}">
        		
        		<div th:text=${follower.userNo} hidden></div>
        		<div th:text=${follower.nickname} ></div>
        		</th:block>
        		
        		 <th:block th:each="following, sts : ${following}">
        		
        		<div th:text=${following.userNo} hidden></div>
        		<div th:text=${following.nickname} ></div>
        		</th:block>
        		
        		
        		<th:block th:each="block, sts : ${block}">
        		
        		<div th:text=${block.userNo} hidden></div>
        		<div th:text=${block.nickname} ></div>
        		</th:block>
        		
        	 <button type="button"  class="btn btn-primary" id="btn-close" aria-label="Close">닫기</button>
            </div>
        </div>
    </div>
	<script>

		$(".imghover").on('click', function(event) {
			let fno = $(event.currentTarget).children().first().text();
			console.log(fno);
			let url = '/snsInfo?feedNo=' + fno;
			console.log('url : ' + url);
			location.href = url;
		});
		
		  //좋아요버튼
	  	$('.bi').on('click',function(){
	  		let feedNo =$(this).data('feedno');
	  		console.log('하트하으',feedNo);
			$.ajax({
				type : "POST",
				url : "likeInsert",
				data : {feedNo},
				dataType : "json",
				success : function(result){
					location.reload();
				},
				error :  function(error){
					console.log('에러',error);
					alert("좋아요 실패");
				}
			});
	    })
			    
		//좋아요취소
		$('.bi-heart-fill').click(function(){
			let snsLikeNo =$(this).data('snslikeno');
			console.log("팔로우버튼");
			console.log('누구야',snsLikeNo)
			// ajax로 좋아요 취소하기
			$.ajax({
				type : "delete",
				url : "likeDelete",
				data : {snsLikeNo},
				success : function(){
					location.reload();
				},
				error :  function(error){
					console.log(error);
					alert("실패");
				}
			});
		});
		const modal = document.querySelector('.modal');

		$('#btn-close').on('click', function(){
			 modal.style.display="none";
		});
		

	  	function listModal(){
			event.preventDefault();
			
			modal.style.display="block";
		
			
			
		}
	

		
		
	</script>
</body>
</html>
