<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/sns_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.imghover {
	transition: background-img 0.5s;
}

.imghover:hover {
	filter: brightness(120%)
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.like{
      width: 20px;
      fill: #ddd;
}
.bi-heart-fill{
	color: hotpink;
}
#speech{
      width: 20px;
      fill: #ddd;
}
</style>
</head>
<body>
	<form method="post" enctype="multipart/form-data">
	<div>
		<div class="container" style="width:1200px;">	
			<div class="row">
				<th:block th:each="sns, sts : ${snsList}"
					th:onclick="|location.href='@{/snsInfo(feedNo=${sns.feedNo})}'|">
					<div class="post-entry col-lg-4 col-sm-12 col-md-6 mb-4 mb-md-0" style="width:350px;">
						<div class="author mb-4 d-flex align-items-center"  style="margin-bottom:0px;">
							<div class="other">
								<div th:text=${sns.userNo} class="blind"></div>
								<a href="#" class="img"	style="background-image: url(images/person_2.jpg);"></a>
								<div class="ml-3 info">
									<a href="#" th:text=${sns.nickname}></a>
								</div>
							</div> 
							<div style="margin-left:auto;">
							<button type="button" th:data-userno="${sns.userNo}" class="followBtn btn btn-primary" th:if="${sns.followYn == null} and ${sns.userNo} != ${session.userNo}">팔로우</button>
							<button type="button" th:data-followno="${sns.followYn}" class="followCancleBtn btn btn-secondary" th:unless="${sns.followYn == null}">팔로잉</button>
							 </div>
							 <input type="number" th:value="${sns.feedNo}" hidden>
						</div>
						<div class="imghover">
							<div th:text=${sns.feedNo} class="blind"></div>
							<a href="#" class="post-thumbnail transition">
							 <img th:src=@{/images/{filePath}(filePath=${sns.filePath})}
								alt="Image" class="img-fluid" style="width:350px; height:380px; padding:0px;"></a>
						</div>
						<div class="post-content-entry">
							<div class="meta" style="margin-bottom:30px;">
								<button  type = "button" id="likeButton" class="btn btn-outline-primary">
									<i id="likeIcon" class="bi bi-heart" th:data-feedno="${sns.feedNo}" th:if="${sns.snslikeYn == null}"></i>
									<i id="likeIcon" class="bi-heart-fill bi-heart-fill" th:data-snslikeno="${sns.snslikeYn}" th:unless="${sns.snslikeYn == null}"></i>
								</button>
								<span class="likes-count" th:text=${sns.countLike}></span>
								<button  type = "button" class="btn btn-outline-secondary ms-3">
									<i class="bi bi-chat-dots"></i>
								</button>
								<span class="comments-count" th:text=${sns.countReply}>></span>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>
	</form>
	<script th:inline="javascript">
		let userNo = [[${session.userNo}]];
	
		$(".imghover").on('click', function(event) {
			/* if(event.target.tagName == 'BUTTON') return; */
			let fno = $(event.currentTarget).children().first().text();
			console.log(fno);
			let url = '/snsInfo?feedNo=' + fno;
			console.log('url : ' + url);
			location.href = url;
		});
		
		$(".other").on('click', function(event) {
			/* if(event.target.tagName == 'BUTTON') return; */
			let uno = $(event.currentTarget).children().first().text();
			console.log('클릭햇어',uno);
			let url = '/userSns?userNo=' + uno;
			console.log('url : ' + url);
			location.href = url;
		});
		
	    //좋아요버튼
	  	$('.bi').on('click',function(){
	  		let feedNo =$(this).data('feedno');
	  		let likeIcon = $(this).find('i'); // 클릭된 버튼의 좋아요아이콘
	  	    let isLikedAlready = likeIcon.hasClass('bi-heart-fill'); // 이미 좋아요가 누른 상태인지 확인
	  	    
	  		console.log('하트하으',feedNo);
			console.log(isLikedAlready);
	  	    $.ajax({
				type : "POST",
				url : "likeInsert",
				data : {feedNo},
				dataType : "json",
				success : function(result){
					console.log(result);
					if (typeof sendAlarm === "function" && !isLikedAlready) {
	                    console.log(feedNo);
						sendAlarm('H3', feedNo);
	                } 
					location.reload();
				},
				error :  function(error){
					console.log('에러',error);
					alert("좋아요 실패");
				}
			});
	    })
			    
		//좋아요취소
		$('.bi-heart-fill').click(function(){
			let snsLikeNo =$(this).data('snslikeno');
			console.log("팔로우버튼");
			console.log('누구야',snsLikeNo)
		// ajax로 좋아요 취소하기
		$.ajax({
			type : "delete",
			url : "likeDelete",
			data : {snsLikeNo},
			success : function(){
				location.reload();
			},
			error :  function(error){
				console.log(error);
				alert("실패");
			}
		});
	});
	    
	    // 팔로우(writeBtn) 버튼을 클릭할 경우
		$('.followBtn').click(function(){
			let followingId =$(this).data('userno');
			console.log("팔로우버튼");
			console.log('누구야',followingId);
		// ajax로 팔로우 등록하기
		$.ajax({
			type : "POST",
			url : "insertFollow",
			data : {userNo, followingId},
			dataType : "json",
			success : function(){
				alert("팔로우 성공");
			},
			error :  function(error){
				console.log(error);
				alert("팔로우 실패");
			}
		});
	});
	
	    
		//팔로우취소
		$('.followCancleBtn').click(function(){
			let followNo =$(this).data('followno');
			console.log("팔로우버튼");
		// ajax로 팔로우 등록하기
		$.ajax({
			type : "delete",
			url : "deleteFollow",
			data : {followNo},
			dataType : "json",
			success : function(){
				alert("팔로우취소 성공");
			},
			error :  function(error){
				console.log(error);
				alert("실패");
			}
		});
	});

 </script>
</body>
</html>
