<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/sns_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.imghover {
	transition: background-img 0.5s;
}

.imghover:hover {
	filter: brightness(120%)
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

</style>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js">
	
</script>
</head>
<body>
	<form action="uploadForm" method="post" enctype="multipart/form-data">
	<div>
		<div class="container">
			<div class="row">
				<th:block th:each="sns, sts : ${snsList}"
					th:onclick="|location.href='@{/snsInfo(feedNo=${sns.feedNo})}'|">
					<div class="post-entry col-lg-4 col-sm-12 col-md-6 mb-4 mb-md-0">
						<div class="author mb-4 d-flex align-items-center">
							<a href="#" class="img"
								style="background-image: url(images/person_2.jpg);"></a>
							<div class="ml-3 info">
								<a href="#" th:text=${sns.nickname}></a>
							</div>
							<button class="btn btn-primary">팔로우</button>
						</div>
						<div class="imghover">
							<div th:text=${sns.feedNo} class="blind"></div>
							<a href="#" class="post-thumbnail transition">
							 <img th:src=@{/images/{filePath}(filePath=${sns.filePath})}
								alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<div class="meta">
									<span>좋아요 수 <a href="#" th:text=${sns.countLike}></a></span> <span>댓글
										수 <a href="#" th:text=${sns.countReply}></a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>
	</form>
	<script>
		$(".imghover").on('click', function(event) {
			/* if(event.target.tagName == 'BUTTON') return; */
			let fno = $(event.currentTarget).children().first().text();
			console.log(fno);
			let url = '/snsInfo?feedNo=' + fno;
			console.log('url : ' + url);
			location.href = url;
		});
	</script>
</body>
</html>
