<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/sns_layout}"
	  	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"> </script>
</head>
<body>
	<div class="container"  style="width:1300px;">
	<h3>게시글 만들기</h3>
	<form name="insertForm" th:action="@{/snsInsert}" method="post" enctype="multipart/form-data">
	<input type="file" name="images" multiple><br>
	<textarea rows="5" cols="30" name="feedContent" placeholder="내용을 작성하세요 1000자 제한"></textarea><br>
	<textarea rows="1" cols="30" name="hashtag" placeholder="#해시태그를 작성하세요"></textarea>
	
			
		<div>
			<button class="btn btn-primary" type="submit" >저장</button>
			<button class="btn btn-primary" type="button" th:onclick="|location.href='@{/sns}'|">목록</button>
			
		</div>
		</form>
</div>
</body>

</html>