<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath"
	  th:value="${#httpServletRequest.getContextPath()}">
<!--/* jsp = ${pageContext.request.contextPath} */-->
<script src="https://climateclock.world/widget-v2.js" async></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<title>about.html</title>
  
</head>
<body>
<h1>소개 화면</h1>

<climate-clock></climate-clock>
</body>
</html>