<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath"
	th:value="${#httpServletRequest.getContextPath()}">
<!--/* jsp = ${pageContext.request.contextPath} */-->
<title>home.html</title>

</head>
<body>
	<h1>홈 화면</h1>
	<th:block sec:authorize="isAuthenticated()">
		<div>
			<h4>로그인 정보</h4>

			<p sec:authentication="name"></p>
			<p sec:authentication="principal.authorities"></p>
		<input type="hidden" id="userID"  th:value="${#authentication.principal.name}"/>
		</div>
	</th:block>
	<script type="text/javascript" th:src="@{/js/home/home.js}"></script>
</body>
</html>
<!-- EXECUTE UPDATECOUNTRYINFO('',''); -->