<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/challenges/challenge.css" />
</head>
<body>
	<div class="challenge-links">
		<ul>
			<li>
				<a th:href="@{/ready}" title="오픈 예정 챌린지" th:class="${status=='D1' ? 'active' : ''}">오픈 예정 챌린지</a> 
			</li>
			<li>
				<a th:href="@{/progress}" title="진행 중인 챌린지" th:class="${status=='D2' ? 'active' : ''}">진행 중인 챌린지</a> 
			</li>
			<li>
				<a th:href="@{/end}" title="종료된 챌린지" th:class="${status=='D3' ? 'active' : ''}">종료된 챌린지</a> 
			</li>
		</ul>
    </div>
    <div class="challenge-count">
	    <p>총 <span th:text="${count}" style="text-decoration: underline; font-weight: bold"></span>개의 챌린지</p>
    </div>
    <div th:if="${status=='D2'}" style="width: 400px; margin: 0 auto ; margin-top: 30px">
	    <select class="form-select" aria-label="Default select example" id="orderSelect">
	        <option value="1">최근 날짜 순</option>
	        <option value="2">좋아요 순</option>
	        <option value="3">내가 참여중인 챌린지</option>
	    </select>
    </div>
	<div class="input-group input-group-sm mb-3" style="width: 400px; height: 40px; margin: 0 auto;">
			<span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
			<input type="text" id="searchValue" class="form-control"
				placeholder="챌린지 제목으로 검색하세요." aria-label="Sizing example input"
				aria-describedby="inputGroup-sizing-sm">
			<button type="button" class="btn btn-secondary" onclick="movePage(1);" id="searchBtn">검색</button>
	</div>
	<div class="challenge-container" id="sort">
	    <div class="challenge-card" th:each="challenge : ${list}">
	        <img th:src="@{'/images/' + ${challenge.mainImg}}" alt="챌린지 메인 이미지" > 
	        <div class="card-body">
	        	<input type="hidden" th:value="${challenge.challNo}" class="cNo">
	            <div class="d-day" id="dDay"  th:text="'D-' + ${challenge.daysUntilStart}"></div>
	            <h5 class="card-title" th:text="${challenge.challTitle}"></h5>
	            <p class="card-text" th:text="${challenge.challContent}"></p>
	            <p th:if="${status=='D1'}" class="card-text" th:text="'시작 일자 : ' + ${#dates.format(challenge.challStartAt, 'yyyy-MM-dd')}"></p>
	            <p th:if="${status=='D2'} OR ${status=='D3'}" class="card-text" th:text="'진행 기간 : ' + ${#dates.format(challenge.challStartAt, 'yyyy-MM-dd')} + ' ~ ' + ${#dates.format(challenge.challCloseAt, 'yyyy-MM-dd')}"></p>
	            <a th:onclick="|location.href='@{detail(challNo=${challenge.challNo})}'|" class="btn btn-primary">챌린지 둘러보기</a>
		        <a th:if="${status=='D2'}" class="btn btn-primary go-challenge">도전하기</a>
	        </div>
	    </div>
	</div>
	<script>
		//정렬 기능 load()
		$('#orderSelect').change(function(){
			let sel = $('#orderSelect').val();
	 		$('#sort').load("challengeSort?select=" + sel);
		})
		
		$(document).on('click', '.go-challenge', function(){
	        let cNo = $(this).closest('.card-body').find('.cNo').val();
	        $.ajax({
	            url: '/goChallenge',
	            method: 'post',
	            data: { challNo: cNo },
	            success: function(result){
	                alert("챌린지 도전~!");
	                console.log(result);
	            },
	            error: function(err){
	                alert("이미 도전 중인 챌린지입니다.");
	                console.log(err);
	            }
	        });
	    });
	</script>
</body>
</html>
