<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>에코뱅크</title>
<link rel="stylesheet" href="../css/challenges/challenge.css" />
</head>
<body>
    <div class="form-container">
        <div class="form-box">
            <h6 class="text-primary" style="text-align:center;">Today's challenge</h6>
            <h1 class="mb-4" style="text-align:center; ">Share your challenge</h1>
            <form name="insertForm" th:action="@{/confirmInsert}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="challNo" id="challNo" th:value="${param.challNo}">
                <div class="mb-3">
		            <label for="confirmContent" class="mb-2 pb-2">인증 내용을 작성해주세요 (300자 내외)</label>
                    <textarea rows="7" id="confirmContent" name="confirmContent" placeholder="오늘 기후를 위해 여러분들이 실천한 행동을 공유해주세요"></textarea>
                </div>
                <div class="mb-3">
                	<label for="images" class="mb-2 pb-2">인증 이미지를 선택해주세요 (최대 3장)</label>
                    <input type="file" id="images" name="images" multiple>
                </div>
                <!-- image preview -->
                <div class="image-preview" id="imagePreview"></div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/detail(challNo=${param.challNo})}'|">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <script>
	    $('form[name=insertForm]').on('submit', confirmHandler);
		function confirmHandler(event){
			event.preventDefault(); 
			
			let confirmContent = $('textarea[name="confirmContent"]');
			if(confirmContent.val() == ''){
				Swal.fire({
	                title: '내용을 입력해주세요.',
	                icon: 'info',
	                confirmButtonText: 'OK',
	                confirmButtonColor: "#32C36C"
	            });
				confirmContent.focus();
				return;
			}
			
			let images = $('input[name="images"]');
			if(images.val() == ''){
				Swal.fire({
	                title: '사진을 선택해주세요.',
	                icon: 'info',
	                confirmButtonText: 'OK',
	                confirmButtonColor: "#32C36C"
	            });
				images.focus();
				return;
			}
	
			Swal.fire({
                title: '인증 글이 등록되었습니다.',
                icon: 'success',
                confirmButtonText: 'OK',
                confirmButtonColor: "#32C36C"
            });
			insertForm.submit();
		}
		
    	$(document).ready(function() {
	        $('#images').on('change', function() {
	            var files = $(this)[0].files;
	            var previewContainer = $('#imagePreview');
	            previewContainer.empty(); //기존에 있던 미리보기 컨테이너 비워
	
	            $.each(files, function(index, file) {
	                if(file && file.type.startsWith('image/')) {
	                    var reader = new FileReader();
	                    reader.onload = function(e) {
	                        var imgContainer = $('<div>').addClass('image-container'); //미리보기 컨테이너
	                        var img = $('<img>').attr('src', e.target.result); 
	                        var removeBtn = $('<button>').addClass('remove-btn').text('×'); //미리보기 사진 지우기 버튼
	
	                        removeBtn.on('click', function () {
	                            $(this).parent().remove(); //파일지우기
	                            removeFile(index);
	                        });
	
	                        imgContainer.append(img).append(removeBtn); //미리보기에다 이미지, 삭제 버튼 같이
	                        previewContainer.append(imgContainer); //미리보기 컨테이너에 append
	                    };
	                    reader.readAsDataURL(file); //파일의 url을 읽는거(비동기)
	                }
	            });
	        });
	        
	        function removeFile(index) {
	            var dt = new DataTransfer();
	            var input = document.getElementById('images');
	            var files = input.files;
	
	            for(var i = 0; i < files.length; i++) {
	                if(i !== index) {
	                    dt.items.add(files[i]); //현재 파일 인덱스를 제외하고 추가하기
	                }
	            }
	
	            input.files = dt.files; //새로운 파일 리스트로 바꿈
	        }
	    });
    </script>
</body>
</html>
