<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  	layout:decorate="~{common/layouts/default_layout}"
	  	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/challenges/challenge.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="challenge-links">
		<ul>
			<li>
				<a th:href="@{/ready}" id="ready" title="오픈 예정 챌린지" class="active">오픈 예정 챌린지</a> 
			</li>
			<li>
				<a th:href="@{/progress}" id="progress" title="진행 중인 챌린지" >진행 중인 챌린지</a> 
			</li>
			<li>
				<a th:href="@{/end}" id="end" title="종료된 챌린지" >종료된 챌린지</a> 
			</li>
		</ul>
    </div>
    <!-- About Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img th:src="@{'/images/' + ${detail.mainImg}}" alt="대표 이미지" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <h6 class="text-primary">About Challenge</h6>
                        <input type="hidden" th:value="${detail.challNo}" id="cNo">
                        <h1 class="mb-4" th:text="${detail.challTitle}"></h1>
                        <!--/* <p th:text="${detail.challContent}"></p> 이거로 해야함*/-->
                        <h6>Challenge Guide</h6>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet
                        	Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet
                        </p>
                        <!--/* <p><i class="fa fa-check-circle text-primary me-3"></i>시작 일시 : [[${#dates.format(detail.challStartAt, 'yyyy/MM/dd')}]]</p> */-->
                        <p><i class="fa fa-check-circle text-primary me-3"></i>챌린지 기간 : [[${#dates.format(detail.challStartAt, 'yyyy/MM/dd')} + ' ~ ' + ${#dates.format(detail.challCloseAt, 'yyyy/MM/dd')}]]</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>챌린지 인증 성공 후 받는 점수 : [[${detail.challScore}]]</p>
                        <div class="like-section">
			                <i class="fas fa-heart"></i>
			                <span th:text="${detail.challLikeNo}">50</span>
			            </div>
                        <a href="@{/}" class="btn btn-primary rounded-pill py-3 px-5 mt-3">도전하기</a>
                        <a href="@{/}" class="btn btn-primary rounded-pill py-3 px-5 mt-3">인증하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <div class="container-xxl py-5">
        <div class="container">

	       <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-5" id="portfolio-flters">
                        <li class="mx-2 active" data-filter="*" id="detailImg">챌린지 상세 이미지</li>
                        <li class="mx-2" data-filter=".first" id="myConfirm">나의 인증 내역</li>
                        <li class="mx-2" data-filter=".second" id="myCalendar">나의 인증 캘린더</li>
                        <li class="mx-2" data-filter=".third" id="others" th:src="@{/others}">참가자 인증 내역</li>
                    </ul>
                </div>
            </div>
            <div id="contents">
				
            </div>
			</div>
	    </div>
		<!-- Font Awesome for heart icon -->
		<script src="<https://kit.fontawesome.com/a076d05399.js>" crossorigin="anonymous"></script>
		<script>
		function toggleActive(buttonGroup, activeId) {
		    // 주어진 버튼 그룹 내의 모든 버튼에서 'active' 클래스를 제거
		    buttonGroup.forEach(function(id) {
		        $('#' + id).removeClass('active');
		    });
		    // 클릭된 버튼에 'active' 클래스를 추가
		    $('#' + activeId).addClass('active');
		}

		$(document).ready(function(){
		    // 첫 번째 버튼 그룹
		    const firstGroup = ['ready', 'end', 'progress'];
		    firstGroup.forEach(function(id) {
		        $('#' + id).click(function() {
		            toggleActive(firstGroup, id);
		        });
		    });

		    // 두 번째 버튼 그룹
		    const secondGroup = ['detailImg', 'myConfirm', 'myCalendar', 'others'];
		    secondGroup.forEach(function(id) {
		        $('#' + id).click(function() {
		            toggleActive(secondGroup, id);
		        });
		    });
		    detailImg(); //상세이미지 호출
		});

			$('#myConfirm').click(function(){
				let cNo = $('#cNo').val();
				$("#contents").load("getMyConfirm?challNo=" + cNo, function(){
					console.log(1234);
					$.ajax({
						url : '/myConfirm',
						method : 'get',
						data : {
							challNo : cNo
						},
						success : function(result){
							console.log(result);
							$('#myConfirmCnt').text(result.confirmCount);
							$('#score').text(result.score);
							$('#remainCnt').text(result.remainCount);
						},
						error : function(err){
							console.log(err);
						}
					})
				});
			})
			$('#others').click(function(){
				$("#contents").load("others");
			})
			function detailImg(){
				$("#contents").load("review");
			}
			$('#detailImg').click(function(){
				detailImg();
			})
			$('#myCalendar').click(function(){
				$('#contents').load("getMyCalendar", function(){ //controller(페이지처리)
					var calendarEl = document.getElementById('calendar');
			    	// new FullCalendar.Calendar(대상 DOM객체, {속성:속성값, 속성2:속성값2..})
			    	let cNo = $('#cNo').val();
			    	
			        var calendar = new FullCalendar.Calendar(calendarEl, {
			          headerToolbar: {
			            left: 'prev,next today',
			            center: 'title',
			            right: ''
			          },
			          initialDate: new Date(), // 현재 날짜
			          editable: false,
			          displayEventTime : false,
			          events: function(info, successCallback, failureCallback) {
			              $.ajax({
			                  url: '/calendar',  //restcontroller(불러오는 기능)
			                  method: 'get',
			                  data: {
			                	  challNo : cNo
			                  },
			                  success: function(result) {
			                	  console.log(result)
			                      // 서버로부터 데이터를 성공적으로 받았을 때 처리
			                      var events = [];
			                      result.forEach(function(event) {
			                    	  events.push({
			                              title: '인증 성공!',
			                              start: event, // 'YYYY-MM-DD' 또는 'YYYY-MM-DDTHH:mm:ss' 형식이어야 함
			                              borderColor : 'green'
			                          });
			                      });
			                      successCallback(events); // FullCalendar에 이벤트 바인딩
			                  }, 
			                  error: function(err) {
			                      console.log(err);
			                      failureCallback(err); // 오류 처리
			                  }
			              });
			          }
			      });
			        calendar.render();
				})
			})
		</script>
</body>
</html>