<div class="challenge-card" th:each="challenge : ${list}">
    <img th:src="@{'/images/' + ${challenge.mainImg}}" alt="챌린지 메인 이미지" > 
    <div class="card-body">
    	<input type="hidden" th:value="${challenge.challNo}" class="cNo">
        <div class="d-day" id="dDay"  th:text="'D-' + ${challenge.daysUntilStart}"></div>
        <h5 class="card-title" th:text="${challenge.challTitle}"></h5>
        <p class="card-text" th:text="${challenge.challContent}"></p>
        <p th:if="${status=='D1'}" class="card-text" th:text="'시작 일자 : ' + ${#dates.format(challenge.challStartAt, 'yyyy-MM-dd')}"></p>
        <p th:if="${status=='D2'} OR ${status=='D3'}" class="card-text" th:text="'진행 기간 : ' + ${#dates.format(challenge.challStartAt, 'yyyy-MM-dd')} + ' ~ ' + ${#dates.format(challenge.challCloseAt, 'yyyy-MM-dd')}"></p>
        <a th:onclick="|location.href='@{detail(challNo=${challenge.challNo})}'|" class="btn btn-primary">챌린지 둘러보기</a>
     <a th:if="${status=='D2'}" class="btn btn-primary go-challenge">도전하기</a>
    </div>
</div>
