<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecobank.app.sns.mapper.SnsMapper">
	<!-- 전체조회 -->
	<select id="selectSnsAll" resultType="SnsVO">
		SELECT feed_no    
            	,feed_content
            	,feed_createAt
            	,feed_updateAt
            	,user_no
            	,feed_state
            	,hashtag
		FROM sns
		ORDER BY feed_no
	</select>




</mapper>