<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecobank.app.sns.mapper.SnsReplyMapper">

	<!-- 단건조회 -->
	<select id="selectSnsReplyInfo" resultType="SnsReplyVO">
		SELECT  s.reply_no	
			 	,s.reply_content
				,s.reply_createAt
				,s.user_no
				,s.feed_no
                ,u.nickname
		FROM sns_reply s 
				LEFT JOIN users u
                 	ON s.user_no = u.user_no
		WHERE s.feed_no = #{feedNo}
		ORDER BY s.reply_no DESC
	</select>
	
	<!-- 등록 -->
	<insert id="insertSnsReplyInfo" parameterType="SnsReplyVO">
		<selectKey keyProperty="replyNo" 
					resultType="Integer"
					order="BEFORE">
			SELECT NVL(MAX(reply_no),1)+1
			FROM sns_reply
		</selectKey>
		INSERT INTO sns_reply 
		(
			 reply_no	
			 ,reply_content
			 ,reply_createAt
			 ,user_no
			 ,feed_no
			 )
		VALUES
		(
			#{replyNo}
			,#{replyContent}
			,#{replyCreateAt}
			,#{userNo}
			,#{feedNo}
			)
	</insert>
	
	
	<!-- sns 댓글 개별 삭제 -->
	<delete id="deleteSnsReplyInfo" parameterType="int">
		DELETE FROM sns_reply
		WHERE reply_no = #{replyNo}
	</delete>
	
	<!-- 좋아요 -->
	<insert id="insertSnsLike" parameterType="SnsReplyVO">
		<selectKey keyProperty="snsLikeNo" 
					resultType="Integer"
					order="BEFORE">
			SELECT NVL(MAX(sns_like_no),1)+1
			FROM sns_like
		</selectKey>
		Insert INTO sns_like(sns_like_no
                    		,user_no
                   			,feed_no) 
		VALUES(
				#{snsLikeNo}
         	   ,#{userNo}
         	   ,#{feedNo}
			)
	</insert>
			
	<!-- 좋아요 삭제 -->	
	<delete id="deleteSnsLike" parameterType="int">		
		DELETE FROM sns_like
		WHERE sns_like_no = #{snsLikeNo}
	</delete>	
	
	<!-- 팔로워 조회 -->
	<select id="selectFollower" parameterType="SnsReplyVO">
		SELECT f.follower_id
				,f.following_id
				,u.user_no
				,u.nickname
		FROM follow f JOIN users u 
						ON f.follower_id = u.user_no
		WHERE f.following_id= #{userNo}
	</select>
	
	<!-- 팔로잉 조회 -->
	<select id="selectFollowing" parameterType="SnsReplyVO">
		SELECT f.follower_id
				,f.following_id
				,u.user_no
				,u.nickname
		FROM follow f JOIN users u 
						ON f.following_id = u.user_no
		WHERE f.follower_id= #{userNo}
	</select>
	
	<!-- 팔로우 하기 -->
	<insert id="insertFollow" parameterType="SnsReplyVO">
		<selectKey keyProperty="followNo" 
					resultType="Integer"
					order="BEFORE">		
			SELECT NVL(MAX(follow_no),1)+1
			FROM follow
		</selectKey>
		INSERT INTO follow(follow_no
							, follower_id
							, following_id )
		VALUES(
				#{followNo}
         	   ,#{userNo}
         	   ,#{followingId}
			)
	</insert>
	
	<!-- 팔로우 취소하기 -->
	<delete id="deleteFollow" parameterType="int">		
 		DELETE FROM follow
		WHERE follow_no = #{followNo}  
	</delete>
	
</mapper>