<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layouts/default_layout}"
    layout:fragment="Content"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main class="main-content">
        <div class="signup-container">
            <h2>회원가입</h2>
            <!--
            	 th:action : /signup 페이지로 요청 (post 방식으로 요청)
            	 th:object : form 태그의 데이터가 userCreateForm 로 설정한 객체에 담아짐.
            	 th:field : th:object에 설정해 준 객체의 내부와 매칭	
             -->
            <form th:action="@{/googleSignup}" th:object="${googleUserInfoForm}" 
                method="post">
                <div class="mb-3">
                    <label for="useid" class="form-label">아이디(이메일)</label> 
                    <input type="text" th:field="*{useId}" class="form-control" id="useid" readonly>
                    
                </div>
                <div class="mb-3">
                    <label for="nickname" class="form-label">닉네임</label>
                    <input type="text" th:field="*{nickName}" class="form-control" id="nickname" placeholder="6글자 이상 20글자 이하">
                    <p id="nickname-error" class="error-message">닉네임은 6자 이상 20자 이하이어야 합니다.</p>
                </div>
                <div class="mb-3">
                    <label for="tell" class="form-label">연락처</label> 
                    <input type="text" th:field="*{tell}" class="form-control" id="tell">
                    <p id="tell-error" class="error-message">연락처는 필수 항목입니다.</p>
                </div>
                <div class="button-container">
                    <button type="submit" id="submit-button">회원가입</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>