<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecobank.app.admin.mapper.AdminMapper">
    
    <!-- 유저 목록 조회 -->
    <select id="userList" resultType="com.ecobank.app.admin.service.UserVO">
WITH declare1 AS (
    SELECT 
        a.user_no,
        COUNT(*) cnt, 
        COUNT(CASE b.CONFIRM_DECLARE_SITUATION WHEN 'N1' THEN 1 ELSE NULL END) N1,
        COUNT(CASE b.CONFIRM_DECLARE_SITUATION WHEN 'N2' THEN 1 ELSE NULL END) N2

    FROM chall_confirm a
    JOIN chall_confirm_declare b 
      ON a.confirm_no = b.confirm_no
    GROUP BY a.user_no
),
sns_situation AS(
select user_no,
 COUNT(CASE d.reply_SITUATION WHEN 'R1' THEN 1 ELSE NULL END) R1,
 COUNT(CASE d.reply_SITUATION WHEN 'R2' THEN 1 ELSE NULL END) R2
from sns_declare d
join  sns f
on d.feed_no = f.feed_no
group by user_no
)
SELECT
    a.user_no,
    use_Id,
    nickname,
    creaTeat,
    tell,
    get_codename(resp) AS resp,
    country,
    user_State,  
    CONFIRM_CREATEAT,
    COALESCE(b.cnt, 0) AS cnt,  -- NULL 대신 0으로 대체
    COALESCE(b.N1, 0) AS N1,
    COALESCE(b.N2, 0) AS N2,
    R1,
    R2
FROM users a
LEFT JOIN declare1 b ON a.user_no = b.user_no
LEFT JOIN sns_situation e ON a.user_no = e.user_no
ORDER BY a.user_no ASC


    </select>
    
    <!-- 오늘 가입한 회원 수 조회 -->
    <select id="getcreaTeat" resultType="int">
        SELECT count(*)
        FROM users
        WHERE trunc(CREATEAT) = trunc(sysdate)
    </select>
    
    <!-- 회원수 조회  -->
    <select id="getusers" resultType="int">
    select count(*)
	from users
    </select>
    <!-- 회원 상태 업데이트 -->
    <update id="updateUserState">
      UPDATE users
	SET USER_STATE = #{userState},
    CONFIRM_CREATEAT = SYSDATE
	WHERE use_id = #{useId}
        
    </update>
    
</mapper>
