<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="UTF-8">
    <!-- csrf -->
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
 	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
 	<!-- 로그인 상태를 확인하는 메타 태그 -->
    <th:block sec:authorize="isAuthenticated()">
	    <meta name="isAuthenticated" content="true"/>
    </th:block>
    
    <!-- Add your CSS and other head elements here -->

<th:block th:replace="common/configs/config :: jQueryConfig"></th:block>
<th:block th:replace="common/configs/config :: MainTemplateConfig"></th:block>
<th:block th:replace="common/configs/config :: SweetAlertConfig"></th:block>
</head>
<body>
	<header class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0" th:insert="common/fragments/header :: headerFragment"></header>
	<main>
		<th:block layout:fragment="Content"></th:block>
	</main>
	<footer th:insert="common/fragments/footer :: footerFragment"></footer>
	<script>
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	  $.ajaxSetup({
	      beforeSend: function(xhr, settings) {
	          xhr.setRequestHeader(header, token);
	      }
	  });
	  let userNumber = null;
	  userNumber = [[${session.userNo}]];
	  
 	</script>

 	<th:block th:replace="common/configs/config :: MainTemplateScriptConfig"></th:block>
 	 <th:block th:replace="common/configs/config :: AlarmSocketScriptConfig"></th:block>
</body>
</html>