<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
    <!-- csrf -->
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
 	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Header</title>
    <!-- Add your CSS and other head elements here -->
 <title>Layout page</title>
<th:block th:replace="common/configs/config :: MainTemplateConfig"></th:block>
<th:block th:replace="common/configs/config :: jQueryConfig"></th:block>
<th:block th:replace="common/configs/config :: SweetAlertConfig"></th:block>
</head>
<body>
	<header th:insert="common/fragments/header :: headerFragment"></header>
	<main>
		<th:block layout:fragment="Content"></th:block>
	</main>
	<footer th:insert="common/fragments/footer :: footerFragment"></footer>
	<script>
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	  $.ajaxSetup({
	      beforeSend: function(xhr, settings) {
	          xhr.setRequestHeader(header, token);
	      }
	  });
 	</script>
</body>
</html>