<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
    <!-- csrf -->
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
 	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Side</title>
    <!-- Add your CSS and other head elements here -->
 <title>Layout page</title>
 <style>
	.side {
	list-style-type: none;
	width: 220px;
	padding: 0;
	margin: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
	margin-top: 50px;
}

.side .sideL .sideBtn {
	text-decoration: none;
	display: block;
	padding: 8px 15px 8px 15px;
	font-weight: bold;
	margin-left: 30px;
	color: var(--dark);
	text-align: left;
}

.main{
margin-left: 220px;
min-height: 600px;
margin-top: 50px;
}




	</style>
<th:block th:replace="common/configs/config :: jQueryConfig"></th:block>
<th:block th:replace="common/configs/config :: MainTemplateConfig"></th:block>
<th:block th:replace="common/configs/config :: SweetAlertConfig"></th:block>
<script>
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	  $.ajaxSetup({
	      beforeSend: function(xhr, settings) {
	          xhr.setRequestHeader(header, token);
	      }
	  });
	  

	  const nonClick = document.querySelectorAll(".sideL");

	  function handleClick(event) {
	    // div에서 모든 "click" 클래스 제거
	    nonClick.forEach((e) => {
	    	e.classList.remove("sideAc");
	    });
	    // 클릭한 div만 "click"클래스 추가
	    event.target.classList.add("sideAc");
	  }

	  nonClick.forEach((e) => {
	    e.addEventListener("click", handleClick);
	  });
	  
	  //인스타그램 연동 api
$.ajax({
  url: 'https://graph.instagram.com/me/media?fields=id,caption,media_type,media_url,thumbnail_url&access_token=IGQWRQbTNBbnpQYnRwN3doNzRoTHRkRmdRU2dGMjU3MDJ5MjVoNGtGcTVfZAGtXbndYTlNYZAmh1WE9ZAamViaFAzSUJzRVFKczRFQmFMa2JWT3U1N1ZAuSmljZAUJoblVTWFllYWhWRkc1N21Ea3pDTmo5NGlYSy02RTQZD',
  method: 'GET',
  dataType: 'json',
  success: function (response) {
    // API 요청이 성공했을 때 실행될 코드
    console.log(response);
    let html = '';
    
    for (var i = 0; i < response.data.length; i++) {
      var imgUrl = response.data[i].media_url;
      var caption = response.data[i].caption;
      
      html += `
      <div>
         <img src=${imgUrl}>
         <p>
            ${caption}
         </p>
      </div>
      `
    }
    
    $('#container').append(html);
  },
  error: function (xhr, status, error) {
    // API 요청이 실패했을 때 실행될 코드
    console.log(xhr.responseText);
  }
});
 	</script>
</head>
<body>
	<header class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0" th:insert="common/fragments/header :: headerFragment"></header>

			<th:block th:replace="common/fragments/snsSide ::snsSideFragment"></th:block>
		<div class="main">
			
			<th:block layout:fragment="Content"></th:block>
		</div>

	<footer th:insert="common/fragments/footer :: footerFragment"></footer>
	
</body>
<style>
 .sideAc{
	 text-decoration: underline #32C36C dotted 3px ;

}

</style>
</html>