<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="">
		<p>
			<span th:text="${session.nickname}"></span>님 정말 탈퇴 하실건가요?
		</p>
		<!-- 소멸되는 포인트, 챌린지 내역 제공 -->
		<p>현재 참여중인 챌린지 :</p>
		<br>
		<ul id="challenges-list">

		</ul>
		<p>탈퇴하면 모든 포인트와 챌린지 내역은 삭제됩니다.</p>
		<br>
		<p>
			그래도 삭제하시겠습니까?

			<button class="button cancel" onclick="cancel()">취소</button>
			<button class="button confirm" onclick="confirmWithdrawal()">탈퇴</button>
	</div>

	<script th:inline="javascript">
		$(document).ready(
				function() {
					var userNo = '';

					// Ajax 요청을 통해 참여 중인 챌린지를 가져옵니다.
					$.ajax({
						url : '/api/withdrawal-info',
						method : 'GET',
						data : {
							userNo : userNo
						},
						success : function(response) {
							// 참여중인 챌린지 목록을 업데이트합니다.
							var challengesList = $('#challenges-list');
							challengesList.empty();
							response.activeChallenges.forEach(function(
									challenge) {
								challengesList.append('<li>챌린지 제목: '
										+ challenge.challTitle + ' (상태: '
										+ challenge.challState + ')</li>');
							});
						},
						error : function(xhr, status, error) {
							console.error('Error fetching withdrawal info:',
									error);
						}
					});
				});

		function cancel() {
			// 취소 버튼 클릭 시 마이페이지로 이동
			window.location.href = '/mypage';
		}

		function confirmWithdrawal() {
			// 탈퇴 버튼 클릭 시 탈퇴 처리 요청

		    var userNo = [[${session.userNo}]];
			console.log("UserNo:", userNo);  // 콘솔에 userNo 출력				
	
 				$.ajax({
					url : '/api/withdrawal',
					method : 'POST',
					data : {
						userNo : userNo
					},
					success : function(response) {
						if (response.success) {
							alert('탈퇴가 완료되었습니다.');
							window.location.href = '/logout?redirect=/'; 
						} else {
							alert('탈퇴 처리에 실패했습니다.');
						}
					},
					error : function(xhr, status, error) {
						console.error('Error processing withdrawal:', error);
					}
				}); 
			}
		
	</script>
</body>
</html>